_auth = EDIT: HIDDEN
user=npmuser
registry='http://artifactory.raa.se/artifactory/api/npm/npm/'
//artifactory.raa.se/artifactory/api/npm/npm/:_authToken=eyJ2ZXIiOiIyIiwidHlwIjoiSldUIiwiYWxnIjoiUlMyNTYiLCJraWQiOiI3V2NDUHN0MnE4QjFpVy1qTkhoQWpuZzJRd19QZ3NucXJaN2RfUTJDWi1RIn0.eyJzdWIiOiJqZnJ0QDAxZG40eWhmMW55dHNoMWd5MGU2MWgwMDlzXC91c2Vyc1wvbnBtdXNlciIsInNjcCI6Im1lbWJlci1vZi1ncm91cHM6cmVhZGVycyBhcGk6KiIsImF1ZCI6ImpmcnRAMDFkbjR5aGYxbnl0c2gxZ3kwZTYxaDAwOXMiLCJpc3MiOiJqZnJ0QDAxZG40eWhmMW55dHNoMWd5MGU2MWgwMDlzXC91c2Vyc1wvYWRtaW4iLCJpYXQiOjE1NzQ3NzkwMDgsImp0aSI6Ijc3YWVkOWEzLTRmMzEtNGI5MS1iZWM5LTY0NWI2OTNlMzMzZiJ9.gbm68iTKxw7Uy88lXawAye400lt2QnCx8fDk6WsXELBSFfWGaBc7CZ24F16VlvLlolyIxv3LEpxnmwqMw9CYL7WqFhtst6Dr8X8Pm8teDtLKSb02x7lPPYzfFxCoGi_n1aXguS1vHzQ1h3cRRSyO5JoqkgtXZwHa4FIJu_sl_Zzw5zhA24vfJ12SdMNuDYQsTTheZtbVvQfFAOVMpUwdq6BBCdFMIBCACgkQBE19xre6ufXedRHHmFbj_8feK2xyP7HLMXQYEXXlbI2v4jzmFZSZCP7wM9JaaJozWzw4nj8Xvc_UzQKbBrhku7GxW6C6IcXKJ3wVZcTxzJ-bxfZtxw