.raa-input {
  @apply .tw-block
        .tw-w-full
        .tw-p-3
        .tw-h-10
        .tw-border
        .tw-border-solid
        .tw-border-raa-gray-3
        .tw-rounded
        .tw-bg-raa-white;

  font-family: 'Source Sans Pro', sans-serif;
  box-sizing: border-box;
}

.raa-input::-ms-clear {
  /*Tar bort 'X' från IE11*/
  width: 0;
  height: 0;
}

.raa-input.error {
  @apply .tw-bg-raa-error-red-light;
}

.raa-input:focus {
  @apply .tw-shadow-outline .tw-outline-transparent;
}
