.raa-button {
  @apply .tw-bg-raa-orange-1
    .tw-cursor-pointer
    .tw-text-raa-white
    .tw-uppercase
    .tw-text-base
    .tw-font-semibold
    .tw-h-10
    .tw-px-4
    .tw-rounded;

  font-family: 'Source Sans Pro', sans-serif;
  transition: background-color, border-color 0.4s;
  box-sizing: border-box;
  min-width: 8rem;
  letter-spacing: 0.2px;
  border: none;
}

.raa-button:hover {
  @apply .tw-bg-raa-orange-2 .tw-border-raa-orange-2;
}

.raa-button:active {
  @apply .tw-bg-raa-orange-3 .tw-border-raa-orange-3;
}

.raa-button:disabled {
  @apply .tw-cursor-default .tw-opacity-50;
}

.raa-button:disabled:hover {
  @apply .tw-bg-raa-orange-1 .tw-border-raa-orange-1;
}

.raa-button-secondary {
  @apply .tw-bg-raa-white .tw-text-raa-orange-1 .tw-border-raa-orange-1 .tw-border-2 .tw-border-solid;
}

.raa-button-secondary:hover {
  @apply .tw-bg-raa-white .tw-text-raa-orange-2 .tw-border-raa-orange-2;
}

.raa-button-secondary:active {
  @apply .tw-bg-raa-white .tw-text-raa-orange-3 .tw-border-raa-orange-3;
}

.raa-button-secondary:disabled {
  @apply .tw-cursor-default .tw-opacity-50;
}

.raa-button-secondary:disabled:hover {
  @apply .tw-bg-raa-white .tw-text-raa-orange-1 .tw-border-raa-orange-1;
}

.raa-button-confirm {
  @apply .tw-bg-raa-green-1 .tw-border-raa-green-1;
}

.raa-button-confirm:hover {
  @apply .tw-bg-raa-green-2 .tw-border-raa-green-2;
}

.raa-button-confirm:active {
  @apply .tw-bg-raa-green-3 .tw-border-raa-green-3;
}

.raa-button-confirm:disabled {
  @apply .tw-cursor-default .tw-opacity-50;
}

.raa-button-confirm:disabled:hover {
  @apply .tw-bg-raa-green-1 .tw-border-raa-green-1;
}

.raa-button-cancel {
  @apply .tw-bg-raa-gray-4 .tw-border-raa-gray-4;
}

.raa-button-cancel:hover {
  @apply .tw-bg-raa-gray-6 .tw-border-raa-gray-6;
}

.raa-button-cancel:active {
  @apply .tw-bg-raa-gray-7 .tw-border-raa-gray-7;
}

.raa-button-cancel:disabled {
  @apply .tw-cursor-default .tw-opacity-50;
}

.raa-button-cancel:disabled:hover {
  @apply .tw-bg-raa-gray-4 .tw-border-raa-gray-4;
}

.raa-button-tabs {
  @apply .tw-flex .tw-px-0 .tw-px-4;
  box-shadow: inset 0 -2px 0 #c94a18;
}

.raa-button-tabs .raa-button {
  padding: calc(0.5rem - 1px) calc(1rem - 2px);
}

.raa-button-tabs .raa-button:not(:last-child) {
  @apply .tw-m-0 .tw-mr-2;
  border-right: none;
}

.raa-button-tabs .raa-button.active {
  @apply .tw-text-raa-orange-1 .tw-bg-raa-white .tw-border-raa-orange-1 .tw-border-2 .tw-border-solid;
  box-sizing: border-box;
  border-bottom: none;
}
