.raa-link {
  @apply .tw-inline-block
    .tw-text-raa-orange
    .tw-underline
    .tw-cursor-pointer;
  transition: all 0.4s;
  line-height: 1.375rem;
  text-decoration-color: transparent;
}

.raa-link:hover {
  @apply .tw-text-raa-orange-hover;
  text-decoration-color: #b54216; /*Färg = tw-text-raa-orange-hover*/
}

.raa-link.text-decoration-inherit-color:hover {
  text-decoration-color: inherit;
}

.raa-link:active {
  @apply .tw-text-raa-orange-active .tw-border-raa-orange-active;
}

/*Tar bort underline under ikon som ligger i länkar och centrerar den*/
.raa-link .raa-icon {
  @apply .tw-text-raa-orange;
  display: inline-block;
  position: relative;
  top: 0.1em;
}

.raa-label {
  @apply .tw-flex .tw-font-semibold .tw-my-1 .tw-mx-0;
}

.raa-label.select {
  @apply .tw-relative .tw-font-normal .tw-text-sm .tw-inline-flex .tw-items-center;
}

.raa-menu-text {
  font-size: 1rem;
  line-height: 1.25rem;
  text-transform: uppercase;
  @apply .tw-text-raa-orange;
}

.raa-menu-text:hover {
  @apply .tw-text-raa-orange-hover .tw-underline;
}

.raa-menu-text:active {
  @apply .tw-text-raa-orange-active .tw-underline;
}

.raa-warning-text {
  font-size: 1rem;
  line-height: 1.25rem;
  @apply .tw-text-raa-error-red;
}

/* små skärmar, mobile first*/
.tw-text-size-hero {
  font-size: 2.5rem;
}

.tw-text-size-h1 {
  font-size: 2rem;
}

.tw-text-size-h2 {
  font-size: 1.625rem;
}

.tw-text-size-h3 {
  font-size: 1.375rem;
}

.tw-text-size-h4 {
  font-size: 1.125rem;
}

.hero {
  font-size: 2.5rem;
}

h1 {
  font-size: 2rem;
  line-height: 2.5rem;
}

h2 {
  font-size: 1.625rem;
  line-height: 1.75rem;
}

h3 {
  font-size: 1.375rem;
  line-height: 1.563rem;
}

h4 {
  font-size: 1.125rem;
  line-height: 1.188rem;
}

p {
  font-size: 1rem;
  line-height: 1.25rem;
}

.raa-large-text {
  font-size: 1.313rem;
  line-height: 1.625rem;
}

.raa-small-text {
  font-size: 0.8125rem;
  line-height: 1.125rem;
}

.raa-secondary-text {
  font-size: 0.8125rem;
  line-height: 1.125rem;
  @apply .tw-text-raa-gray-5;
}

/*Mediumstora skärmar*/
@media only screen and (min-width: 520px) and (max-width: 1023px) {
  .md\:tw-text-size-hero {
    font-size: 3.75rem;
  }

  .md\:tw-text-size-h1 {
    font-size: 2.5rem;
  }

  .md\:tw-text-size-h2 {
    font-size: 2rem;
  }

  .md\:tw-text-size-h3 {
    font-size: 1.5rem;
  }

  .md\:tw-text-size-h4 {
    font-size: 1.125rem;
  }

  .hero {
    font-size: 3.75rem;
    line-height: 3.938rem;
  }

  h1 {
    font-size: 2.5rem;
    line-height: 2.813rem;
  }

  h2 {
    font-size: 2rem;
    line-height: 2.5rem;
  }

  h3 {
    font-size: 1.5rem;
    line-height: 1.875rem;
  }

  h4 {
    font-size: 1.125rem;
    line-height: 1.313rem;
  }

  p {
    font-size: 1rem;
    line-height: 1.375rem;
  }

  .raa-warning-text {
    font-size: 1rem;
    line-height: 1.375rem;
    @apply .tw-text-raa-error-red;
  }

  .large-text {
    font-size: 1.313rem;
    line-height: 1.75rem;
  }
}

/*Små skärmar*/
@media only screen and (min-width: 1024px) {
  .lg\:tw-text-size-hero {
    font-size: 5rem;
  }

  .lg\:tw-text-size-h1 {
    font-size: 3rem;
  }

  .lg\:tw-text-size-h2 {
    font-size: 3rem;
  }

  .lg\:tw-text-size-h3 {
    font-size: 1.75rem;
  }

  .lg\:tw-text-size-h4 {
    font-size: 1.125rem;
  }

  .hero {
    font-size: 5rem;
    line-height: 5rem;
  }

  h1 {
    font-size: 3rem;
    line-height: 3.125rem;
  }

  h2 {
    font-size: 3rem;
    line-height: 3.125rem;
  }

  h3 {
    font-size: 1.75rem;
    line-height: 1.875rem;
  }

  h4 {
    font-size: 1.125rem;
    line-height: 1.313rem;
  }

  p {
    font-size: 1rem;
    line-height: 1.375rem;
  }

  .raa-warning-text {
    font-size: 1rem;
    line-height: 1.375rem;
    @apply .tw-text-raa-error-red;
  }

  .large-text {
    font-size: 1.313rem;
    line-height: 1.75rem;
  }
}
