@import '~normalize.css/normalize.css';
@import 'media-queries';
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400);

body {
    font: 16px normal 'Source Sans Pro', sans-serif;
    color: #3A3A3A;
    letter-spacing: normal;
}

// Stora skärmar

@include respond-to(wide-screens) {

    .hero {
        font-size: 5rem;
        line-height: 5rem;
    }
    
    h1 {
        font-size: 3rem;
        line-height: 3.125rem;
    }
    
    h2 {
        font-size: 2.25rem;
        line-height: 2.813rem;
    }
    
    h3 {
        font-size: 1.75rem;
        line-height: 1.875rem;
    }
    
    h4 {
        font-size: 1.125rem;
        line-height: 1.313rem;
    }
    
    p {
        font-size: 1rem;
        line-height: 1.375rem;
    }

    .large-text {
        font-size: 1.75rem;
        line-height: 1.875rem;
    }
}

