///////////////////
// Color classes //
///////////////////

@import 'colors';

// Textfärg
.raa-color-orange {
  color: $raa-orange;
}
.raa-color-white {
  color: $raa-white;
}
.raa-color-gray-4 {
  color: $raa-gray-4;
}
.raa-color-gray-5 {
  color: $raa-gray-5;
}
.raa-color-red {
  color: $raa-error-red;
}

// Bakgrundsfärg
.raa-bg-color-orange {
  background-color: $raa-orange;
}
.raa-bg-color-white {
  background-color: $raa-white;
}
.raa-bg-color-gray-1 {
  background-color: $raa-gray-1;
}
.raa-bg-color-gray-2 {
  background-color: $raa-gray-2;
}
.raa-bg-color-gray-3 {
  background-color: $raa-gray-3;
}
.raa-bg-color-gray-4 {
  background-color: $raa-gray-4;
}

.raa-bg-color-red-light {
  background-color: $raa-error-red-light;
}
